<div class="card">
    <div class="body">
<table id="example" class="table table-bordered table-striped table-hover js-basic-example dataTable" cellspacing="0" width="100%">
<thead>
<tr>
<th>#</th>
<th>Nombre</th>
<th>apellido</th>
<th>Edad</th>
<th>telefono</th>
<th>sexo</th>
<th></th>
</tr>
</thead>
    <tfoot>
    <tr>
        <th>#</th>
        <th>nombre</th>
        <th>apellido</th>
        <th>Edad</th>
        <th>telefono</th>
        <th>sexo</th>
        <th></th>
    </tr>
    </foot>
<tbody>
{% for num in CAMPOS %}
<tr><td>{{num.id}}</td><td>{{num.nombre}}</td><td>{{num.apellido}}</td><td>{{num.edad}}</td><td>{{num.telefono1}}</td><td>{{num.sexo}}</td><td><button type="button" class="btn btn-default" onclick="ver_form('clientes',{{num.id}})"><span class="glyphicon glyphicon-search"></span></button><button type="button" class="btn btn-primary" onclick="ver_form_modificar('clientes',{{num.id}})"><span class="glyphicon glyphicon-pencil"></span></button><button type="button" class="btn btn-danger" onclick="borrar('clientes',{{num.id}})"><span class="glyphicon glyphicon-remove"></span></button></td></tr>{% endfor %}
</tbody>
</table>
    </div></div>