<table id="example" class="table table-bordered table-striped table-hover js-basic-example dataTable" cellspacing="0" width="100%">
<thead> <tr>
<th>id</th>
<th>id_cliente</th>
<th>observacion</th>
<th>fch_alta</th>
<th>id_tratamiento</th>
<th>usuarioid</th>
<th></th></thead>
<tbody>
{% for num in CAMPOS %}
<tr><td>{{num.id}}</td><td>{{num.id_cliente}}</td><td>{{num.observacion}}</td><td>{{num.fch_alta}}</td><td>{{num.id_tratamiento}}</td><td>{{num.usuarioid}}</td><td><button type="button" class="btn btn-default" onclick="ver_form('historial',{{num.id}})"><span class="glyphicon glyphicon-search"></span></button><button type="button" class="btn btn-primary" onclick="ver_form_modificar('historial',{{num.id}})"><span class="glyphicon glyphicon-pencil"></span></button><button type="button" class="btn btn-danger" onclick="borrar('historial',{{num.id}})"><span class="glyphicon glyphicon-remove"></span></button></td></tr>{% endfor %}
</tbody>
</table>
