<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
    <div class="card">
        <div class="header">
            <h2>
                Pais Nro {{ CAMPOS.id|e }}
            </h2>
        </div><div class="body">
<form id="myForm" action="app/" method="post">
<input type="hidden" name="tabla" value="pais"><input type="hidden" name="accion" value="add"><div class="form-group form-float">
                                        <div class="form-line">
                                           <input type="number" class="form-control input-control" id="id" name="id" aria-describedby="emailHelp"  readonly="readonly"  placeholder="" required value="{{ CAMPOS.id|e }}">
                                            <label class="form-label">id</label>
                                        </div>
                                    </div><div class="form-group form-float">
                                        <div class="form-line">
                                           <input type="text" class="form-control input-control" id="descripcion" name="descripcion" aria-describedby="emailHelp"  placeholder="" required value="{{ CAMPOS.descripcion|e }}">
                                            <label class="form-label">descripcion</label>
                                        </div>
                                    </div><div class="form-group form-float">
                                        <div class="form-line">
                                           <input type="text" class="form-control input-control" id="fchalta" name="fchalta" aria-describedby="emailHelp"  placeholder=""  value="{{ CAMPOS.fchalta|e }}">
                                            <label class="form-label">fchalta</label>
                                        </div>
                                    </div><div class="form-group form-float">
                                        <div class="form-line">
                                           <input type="number" class="form-control input-control" id="activo" name="activo" aria-describedby="emailHelp"  placeholder="" required value="{{ CAMPOS.activo|e }}">
                                            <label class="form-label">activo</label>
                                        </div>
                                    </div><div class="form-group form-float">
                                        <div class="form-line">
                                           <input type="number" class="form-control input-control" id="usuarioid" name="usuarioid" aria-describedby="emailHelp"  placeholder="" required value="{{ CAMPOS.usuarioid|e }}">
                                            <label class="form-label">usuarioid</label>
                                        </div>
                                    </div><button  class="btn btn-primary" type="submit">Guardar</button><a  href="javascript:void(0)" class="btn btn-primary" onclick="ver_tabla('pais')">Regresar</a></form></div>
</div>
        </div>